*.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
TODO/
public/images/
nbproject
.gitmodules
README.md
composer.json
composer.phar
composer.lock
config/
data/
init_autoloader.php
module/
public/.htaccess
public/css/bootstrap-theme.css
public/css/bootstrap-theme.min.css
public/css/bootstrap.css
public/css/bootstrap.min.css
public/css/style.css
public/fonts/
public/img/
public/js/bootstrap.js
public/js/bootstrap.min.js
public/js/html5shiv.js
public/js/jquery-1.10.2.min.map
public/js/jquery.min.js
public/js/respond.min.js
vendor/
