html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: #f1f1f1;
    background: url("../images/css/main_bckgrnd.png") repeat;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif;
}

#no_js_alert {
    padding-top: 10px;
}

#no_js_alert div {
    margin: 0 auto;
    width: 55%;
}

.ui_button {
    border: 3px dotted #1d1d1d;
    background: #606060;
    color: #fff;
    text-align: center;
    font-weight: bold;
    opacity: .6;
    filter: alpha(opacity=60);
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    transition: opacity .3s;
    padding: 8px 3px;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

input.ui_button {
    padding: 4px;
}

.ui_button_white {
    border: 3px dotted #fff;
    background: #8f8f8f;
    color: #333;
}

.ui_button:hover {
    cursor: pointer;
    opacity: .8;
    filter: alpha(opacity=80);
}

form p.no_script_para {
    margin: 0;
    padding: 15px 0 3px;
}

form div.file_selector {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    padding: 7px;
    overflow: hidden;
}

form div.file_selector input {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
    font-size: 110px;
    height: 140px;
    filter: alpha(opacity=0);
    opacity: 0;
}

form div.radio_wrapper {
    height: 38px;
}

form#photo_upload div.radio_wrapper {
    height: 50px;
}

form select {
    min-width: 225px;
}

form select, body form select option#no_selection {
    color: #777;
    font-weight: bold;
}

form select option {
    color: #000;
    font-weight: normal;
}

input[type=text], body input[type=password] {
    min-width: 180px;
}

form p span#for_first_name, form p span#for_last_name {
    margin-right: 28px;
}

form div span.for_radios {
    position: absolute;
    top: 10px;
}

form ul.radios {
    color: transparent;
    margin: 0;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    border-radius: 4px;
    padding: 3px 4px 0 4px;
    height: 30px;
    border: 2px solid transparent;
}

form ul[name=perms_radios] {
    padding: 3px 4px 0 21px;
}

form#photo_upload ul.yes_no_choice {
    margin-left: 135px;
}

form ul[name=perms_radios] {
    margin-left: 155px;
}

form ul[name=cover_radios] {
    margin-left: 135px;
}

form ul.radios li {
    float: left;
    position: relative;
}

form .yes_no_choice li#no, form ul[name=perms_radios] li#super {
    margin-left: 40px;
}

form .yes_no_choice li#yes {
    margin-left: 55px;
}

form ul[name=perms_radios] li#normal {
    margin-left: 85px;
}

form ul[name=perms_radios] li#guest {
    margin-left: 72px;
}

form ul.radios li span {
    position: absolute;
    right: 0;
    padding: 3px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    border: 3px dotted #1d1d1d;
    background: #606060;
    border-radius: 3px;
    filter: alpha(opacity=.6);
    opacity: .6;
}

form .yes_no_choice li#no span {
    width: 29px;
}

form .yes_no_choice li#no span:after {
    content: "NO";
}

form .yes_no_choice li#yes span:after {
    content: "YES";
}

form ul.radios li#super span:after {
    content: "SUPER";
}

form ul.radios li#normal span:after {
    content: "NORMAL";
}

form ul.radios li#guest span:after {
    content: "GUEST";
}

form ul.radios li input {
    position: absolute;
    right: 0;
    margin: 0;
    width: 50px;
    height: 31px;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
}

form ul.yes_no_choice li input {
    width: 41px;
}

form ul[name=perms_radios] li input {
    width: 58px;
}

form ul[name=perms_radios] li#normal input {
    width: 72px;
}

form ul.radios li input[type=radio] + span {
    visibility: hidden;
    filter: alpha(opacity=1);
    opacity: 1;
}

form ul.radios li input[type=radio]:checked + span {
    visibility: visible;
}

form p.pass_text {
    position: relative;
    margin-bottom: 17px;
}

form p.pass_text input {
    position: absolute;
    margin-left: 8px;
}

form p.pass_text input[type=text] {
    display: none;
}

textarea, input, select {
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

textarea {
    min-width: 225px;
    min-height: 100px;
}

.link_separator {
    color: #444;
    font-weight: bold;
}

img {
    border: none;
}

div {
    position: relative;
}

table, tr, td, tr {
    /*border-collapse: collapse; */
    vertical-align: top;
    text-align: left;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif;
}

a {
    color: #484848/*#8D0D19*/;
}

a[target=_blank] {
    color: #053DFF;
    font-weight: bold;
}

h2 {
    color: #292929;
}

#header {
    height: 70px;
    text-align: left;
    background: #3a3a3a;
    background: #3f3f3f url("../images/css/main_bckgrnd.png") repeat;
    color: #fff;
}

#header a#home {
    color: #fff;
    text-decoration: none;
    outline: none;
}

#header h1 {
    padding: .9em 0 1em 1em;
    margin: 0;
    width: 265px;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    filter: alpha(opacity=.7);
    opacity: .7;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s;
    font-size: 32px;
}

span.a {
    color: #1C6487;
}

span.l {
    color: #A20910;
    
}

span.o {
    color: #C36500;    
}

span.n {
    color: #93A50B;
}

#header h1#admin {
    width: 360px;
}

#header h1:hover {
    filter: alpha(opacity=100);
    opacity: 1;
}

#header div {
    display: inline;
    padding: 6px;
}

#gologin, #logout, #gostaff, #gopublic {
    color: #fff;
    font-weight: bold;
    position: absolute;
    right: 30px;
    top: 29px;
    text-decoration: none;
}

#gostaff, #gopublic {
    right: 140px;
}

#gopublic.stnd_alone {
    right: 30px;
}

/* Note: IE 5 & 6 won't understand min-height */
#main {
    min-height: 600px;
    padding: 1em 2em;
}

#main.no_padding {
    padding: 0;
}

#main div.centering {
     max-width: 86%; /*temp changed from 68%*/
     min-width: 600px; /*changed from 780px*/
     margin: 0 auto;
}

#main div.centering.mini_full_screen {
     max-width: 95%;
}

.centering #big_error_report.mini_full_screen {
    height: 100%;
    padding: 9% 3%;
    text-align: center;
    width: 94%;
    margin: 0 auto;
}

.centering #big_error_report #msg.mini_full_screen {
    color: #555555;
    font-size: 74px;
    font-weight: bold;
    line-height: 107px;
}

.centering #big_error_report #exit.mini_full_screen {
    font-size: 38px;
    margin: 1% auto 0;
    padding: 0;
    width: 32%;
}

#main #admin_opts li {
    margin-bottom: 5px;
}

#main .del_confirm_parent, #main .modal_caller_parent, #main .clear_logs_parent {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    width: 120px;
    color: #484848;
    font-weight: bold;
    font-size: 12px;
}

#main .modal_caller_parent.new_photo {
    width: 144px;
}

#main .modal_caller_parent.new_album {
    width: 180px;
}

#main .clear_logs_parent {
    width: 140px;
}

#main .del_confirm_parent a, #main .modal_caller_parent a, #main .clear_logs_parent a {
    font-weight: normal;
    font-size: 13px;
}

#outer_wrapper {
    displa: inline-block; /*temp disabled*/
    min-height: 500px;
    min-width: 510px; /*added*/
    width: 68.5%; /*added*/
}

#outer_wrapper.selected_photo_wrapper {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    width: inherit;
    min-width: 340px;
} 

#outer_wrapper #gallery_nav_wrapper {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    height: 40px;
    width: 100px;
    padding: 4px 0;
}

#gallery_thumbs_wrapper {
    max-width: 100%;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    overflow-x: auto;
    white-space: nowrap;
}

#gallery_thumbs_wrapper img.gallery_thumb {
    height: 109px;
    width: 109px;
    opacity: .45;
    filter: alpha(opacity=50);
    transition: opacity .3s;
}

#gallery_thumbs_wrapper img.gallery_thumb:hover {
    opacity: .85;
    filter: alpha(opacity=85);
}

#gallery_thumbs_wrapper img.gallery_thumb.current {
    opacity: 1;
    filter: alpha(opacity=100);
}

#inner_wrapper {
    displa: inline-block; /*temp disabled*/
    max-width: 100%; /*temp changed from 720px*/
    min-widt: 510px; /*temp changed from 500px*/ /*then, temp disabled*/
    min-heigh: 500px; /*temp disabled*/
}

#inner_wrapper #title {
    text-align: center;
    line-height: 7px;
    width: 100%; /*added*/
}

#inner_wrapper #unit_nav_wrapper {
    width: 100%; /*added*/
}

#inner_wrapper #title h2 {
    text-align: center;
    line-height: 7px;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
}

#inner_wrapper #title h2.mini_full_screen {
    color: #111;
}

#inner_wrapper #title span#ux_nav_guide {
    position: absolute;
    top: 24px;
    right: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #555;
}

#inner_wrapper #title span#ux_nav_guide.adjust_for_g_nav {
    top: 32px;
}

#inner_wrapper #title span#ux_nav_guide.mini_full_screen {
    color: #333;
}

#inner_wrapper #unit_wrapper {
    min-height: 451px;
    border-radius: 5px;
    border: 3px dotted #666;
}

#unit_wrapper .movable, #albums_wrapper .movable {
    position: absolute;
}

.movable #pholder_p_msg {
    color: #484848;
    font-weight: bold;
    font-size: 16px;
    padding: 100px 0 0 300px;
}

.movable #pholder_f_msg {
    color: #777777;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 80px;
    width: 714px; 
}

#photos_wrapper #tbody {
    min-width: 800px;
}

#inner_wrapper #unit_wrapper.non_photo {
    min-widt: 100%; /*temp changed from 714px*/ /*then, temp disabled*/
    min-height: 500px; /*temp changed from 451px*/
    margin-botto: 40px; /*added*/
    overflow: hidden;
}

/*#inner_wrapper #unit_wrapper.non_photo.mini_full_screen {
    min-height: 568px;
}*/

/*#inner_wrapper #unit_wrapper.non_photo.adjust_for_sweep {
    min-height: 580px; temp changed from 515px
}*/

#inner_wrapper #unit_wrapper div.no_content, #no_public_content {
    color: #777;
    font-size: 60px;
    font-weight: bold;
    line-height: 100px;
    padding: 80px 25px;
    text-align: center;
}

#inner_wrapper #unit_wrapper div.no_content.mini_full_screen {
    color: #555;
    font-size: 85px;
    line-height: 120px;
}

#no_public_content {
    border: 3px dotted #666;
    border-radius: 5px;
}

#inner_wrapper #unit_wrapper ul {
    list-style: none;
}

#inner_wrapper #unit_wrapper .unit {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
}

#inner_wrapper #unit_wrapper .photo {
    margin: 0 15px 20px 0;
    border: 1px dotted #bbb; /* to be deleted later*/
    border-radius: 3px; /* to be deleted later*/
}

#inner_wrapper #unit_wrapper .album {
    position: relative;
    margin: 0 40px 18px 0;
}

#inner_wrapper #unit_wrapper .photo a img {
    width: 227px; /*temp changed from 200px*/
    height: 227px; /*temp changed from 200px*/
    border-radius: 4px;
}

/*#inner_wrapper #unit_wrapper .photo a img.mini_full_screen {
    width: 265px;
    height: 265px;
}*/

#inner_wrapper #unit_wrapper .album a img {
    width: 270px; /*temp changed from 237px*/
    height: 270px; /*temp changed from 237px*/
    border-radius: 4px;
}

#inner_wrapper #unit_wrapper div div {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#inner_wrapper #unit_wrapper div div.border_grey {
    border: 1px solid #aaa;
}

#album_list #albums_wrapper .album.border_grey {
    border: 1px solid #aaa;
    height: 220px;
    border-radius: 4px;
}

#inner_wrapper #unit_wrapper div div.no_cover {
    width: 269px; /*temp changed from 236px*/
    height: 269px; /*temp changed from 236px*/
}

#inner_wrapper #unit_wrapper div div.album_preview {
    display: none;
    width: 0;
    height: 268px; /*temp changed from 234px*/
}

#inner_wrapper #unit_wrapper div div.album_preview div.previews_available {
    height: 268px; /*temp changed from 234px*/
    padding: 15px 4px;
}

#inner_wrapper #unit_wrapper div div.album_preview div.no_previews {
    color: #444;
    font-weight: bold;
    text-align: center;
    height: 240px; /*temp changed from 234px*/
    padding: 15px 4px;
}

#inner_wrapper #unit_wrapper div div.album_preview div.no_previews div.no_preview_message {
    float: left;
    width: 88px;
    line-height: 20px;
    padding: 10px;
}

#inner_wrapper #unit_wrapper div div.album_preview .preview_photo img {
    width: 60px; /*temp changed from 50px*/
    height: 60px; /*temp changed from 50px*/
    margin: 0 5px 22px 0;
    float: left;
    border-radius: 4px;
}

div div.absolute_pos {
    position: absolute;
}

#inner_wrapper #unit_wrapper div div.absolute_pos.no_cover_message {
    top: 30%;
    left: 33px; /*temp changed from 30px*/
    font-size: 24px;
    font-weight: bold;
    color: #222;
    text-align: center;
    line-height: 34px;
    width: 215px;
}

div div.absolute_pos.name_edit_save, div div.absolute_pos.name, div div.absolute_pos.date_owner,
div div.absolute_pos.delete, div div.absolute_pos.upload, div div.absolute_pos.notes,
div div.absolute_pos.show_prevs {
    width: 260px; /*temp changed from 228px*/
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(19, 17, 17, 0.66);
    left: 0;
    transition: .3s;
}

div div.absolute_pos.upload, div div.absolute_pos.notes, div div.absolute_pos.show_prevs {
    top: 41px;
    width: 127px;
    font-size: 14px;
    padding: 5px 2px;
    border-radius: 4px;
}

div div.absolute_pos.show_prevs {
    width: 162px;
    left: 104px; /*temp changed from 72px*/
    cursor: default;
}

div div.absolute_pos.notes {
    top: 68px;
}

div div.absolute_pos.delete {
    top: 41px;
    left: 184px;
    padding: 12px 1px;
    font-size: 28px;
    width: 40px;
    border-radius: 4px;
}

div div.absolute_pos.upload:hover, div div.absolute_pos.delete:hover,
div div.absolute_pos.notes:hover, div div.absolute_pos.show_prevs:hover {
    background-color: rgba(19, 17, 17, 0.85);
}

div div.absolute_pos.name {
    top: 0;
    padding: 12px 5px;
    font-size: 18px;
}

div div.absolute_pos.date_owner {
    bottom: 2px;
}

div div.absolute_pos.date_owner.list_albums_pg {
    bottom: -6px;
}

#inner_wrapper #unit_wrapper div div.absolute_pos.date_owner div,
#album_list #albums_wrapper .album div.absolute_pos.date_owner div {
    padding: 2px 0;
    display: block;
    overflow: hidden;
    text-overflow: inherit;
}

#inner_wrapper #unit_wrapper .hover_triggered.ajax,
#album_list #albums_wrapper .hover_triggered.ajax {
    display: none;
}

#inner_wrapper #nav, #album_list #nav, #photo_list #nav,
#inner_wrapper #gallery_nav {
    position: absolute;
    top: 39%;
    padding: 20px 10px;
    heigh: 27.5%; /*added*/ /*then, temp removed*/
    widt: 6.2%; /*added*/ /*then, temp removed*/
}

#inner_wrapper #gallery_nav {
    top: 16%;
    left: 0%;
    padding: 0;
}

#inner_wrapper #nav {
    right: 0;
}

#photo_list #nav {
    left: 102%;
}

#inner_wrapper #nav a, #album_list #nav a, #photo_list #nav a, #inner_wrapper #gallery_nav a {
    text-decoration: none;
    outline: none;
}

#inner_wrapper #nav .nav_opt, #album_list #nav .nav_opt, #photo_list #nav .nav_opt,
#inner_wrapper #gallery_nav .nav_opt {
    zoom: 1;
    width: 1.12em; /*temp changed from 50px*/
    height: 1.12em; /*temp changed from 50px*/
    padding: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 3.46em; /*temp changed from 45px*/
    line-height: .98em; /*temp changed from 44px*/
}

#inner_wrapper #gallery_nav .nav_opt {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    font-size: 3.3em;
    height: 0.73em;
    line-height: 0.58em;
    width: 0.73em;
}

#inner_wrapper #nav .nav_opt.inactive, #album_list #nav .nav_opt.inactive,
#photo_list #nav .nav_opt.inactive, #inner_wrapper #gallery_nav .nav_opt.inactive {
    cursor: default;
    opacity: .2;
    filter: alpha(opacity=20);
}

#inner_wrapper #nav #prev, #album_list #nav #prev, #photo_list #nav #prev {
    margin-bottom: 15px;
}

#inner_wrapper #gallery_nav #prev {
    margin-right: 15px;
}

#albums_nav {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    position: absolute;
    width: 172px;
    top: 35px;
    left: 102%;
}

#albums_nav ul {
    padding-left: 25px;
}

#albums_nav ul li {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #8D0D19;
}

#albums_nav ul li a.current {
    font-weight: bold;
    cursor: default;
}

#to_albums_nav {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    position: absolute;
    width: 160px;
    top: 45px;
    left: 102%;
}

#to_albums_nav.adjust_for_g_nav {
    top: 62px;
}

#unit_info {
    position: absolute;
    top: 95px;
    left: 102%;
    min-height: 100px;
    min-width: 240px; /*added*/
    width: 50%; /*added*/
    padding: .25%; /*temp changed from 2px*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px dotted #1d1d1d;
    background: #606060;
    opacity: .6;
    filter: alpha(opacity=60);
}

#unit_info.adjust_for_g_nav {
    top: 112px;
}

#unit_info.mini_full_screen {
    opacity: .7;
    filter: alpha(opacity=70);
}

#outer_wrapper + div#for_margin {
    height: 90px;
}

#outer_wrapper + div#for_margin.mini_full_screen {
    height: 40px;
    z-index: -1;
}

#unit_info p.capt_pgraph {
    padding-bottom: 4px;
}

#unit_info #album_info {
    background: #f5f5f5;
    min-height: 100px;
    max-height: 389px;
    width: 94.5%; /*temp changed from 295px*/
    padding: 0 2.8%; /*temp changed from  0 10px*/
    border-radius: inherit;
    overflow-y: scroll;
    overflow-styl: marquee;
}

#unit_info #album_info.mini_full_screen {
    max-height: 495px;
}

#unit_info #album_info p#owner {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#unit_info #album_info p {
    font-weight: bold;
}

#unit_info #album_info p span {
    font-weight: normal;
}

#unit_info #album_info p b span {
    font-weight: bold;
}

#unit_info #album_info p.no_unit_data, #unit_info #photo_info p.no_unit_data {
    font-weight: bold;
    font-size: 14px;
    color: #777;
}

#unit_info #photo_info {
    background: #f5f5f5;
    min-height: 100px;
    max-height: 495px;
    width: 100%;
    padding: 0;
    border-radius: inherit;
    overflow-y: hidden;
    overflow-styl: marquee;
}

#unit_info #photo_info #loaded_info {
    max-height: 305px;
    overflow-y: scroll;
    padding: 0 3%;
    border: 1px solid #777;
    border-radius: 3px;
    font-size: 11px;
}

#unit_info #photo_info #loaded_info #comments {
    margin-bottom: 6px;
}

.load_more_msg {
    height: 25px;
    left: 45%;
    position: absolute;
    margin-top: 22px;
    width: 170px;
    z-index: 1000;
    color: #484848;
    font-size: 16px;
}

#unit_info #photo_info #loaded_info #comments .comment,
#photo_list table td.p_comments div.comments_wrapper .comments .comment {
    background-color: #e1e1e1;
    border-radius: 3px;
    padding: 0 4px 8px;
}

#unit_info #photo_info #loaded_info #comments .comment .content,
#photo_list table td.p_comments div.comments_wrapper .comments .comment .content {
    padding-top: 2px;
    font-weight: normal;
}

#photo_list table td.p_comments div.comments_wrapper .comments .comment .content {
    width: 770px;
}

#unit_info #photo_info #loaded_info #comments .comment .by_when div,
#photo_list table td.p_comments div.comments_wrapper .comments .comment .by_when div {
    padding-top: 2px;
    font-weight: bold;
}

#unit_info #photo_info #loaded_info #comments .comment .by_when div span, 
#photo_list table td.p_comments div.comments_wrapper .comments .comment .by_when div span {
    font-size: 10px;
    font-weight: normal;
    color: #111;
}

#unit_info #photo_info #post_comment {
    padding: 0 10px;
    position: relative;
}

#unit_info #photo_info #post_comment input[type="text"] {
    min-width: 55%;
    width: 55%;
}

#unit_info #photo_info #post_comment textarea {
    min-height: 80px;
    max-height: 80px;
    max-width: 98%;
    min-width: 98%;
    margin-bottom: 32px;
    margin-top: 5px;
    width: 98%;
}

#unit_info #photo_info #post_comment textarea, #unit_info #photo_info #post_comment input {
    background-color: #ddd;
}

#unit_info #photo_info #post_comment input[type=submit] {
    border: 3px dotted #000;
    background-color: #404040;
    font-size: 16px;
    opacity: .8;
    filter: alpha(opacity=80);
    margin-left: 7.5%;
    padding: .9%;
    color: #fff;
}

#unit_info #photo_info #post_comment input[type=submit]:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}

#unit_info #photo_info .bottom_border, .comments_wrapper .bottom_border {
    border-bottom: 2px dotted #666;
}

#unit_info #photo_info p span, #unit_info #photo_info div span {
    font-weight: bold;
}

#footer {
    height: 16px;
    padding: 1em;
    text-align: center;
    background: #3a3a3a;
    background: #3f3f3f url("../images/css/main_bckgrnd.png") repeat;
    color: #fff;
    font-weight: bold;
    margin-top: 50px;
}

table.bordered tr th, table.bordered tr td {
    border: 2px solid #111;
    border-radius: 3px;
}

#pagination .selected {
    font-weight: bold;
    color: #8D0D19;
}

div.message_wrapper {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
}

.msg_bottom_margin div.message_wrapper, div.bottom_margin {
    margin-bottom: 10px;
}

.msg_top_margin div.message_wrapper {
    margin-top: 15px;
}

.alertBox, table.bordered tr th#ajax_msg {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border-left-width: 5px !important;
    font-size: .9em;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

table.bordered tr th#ajax_msg {
    padding: 2px 3px;
    width: auto;
    display: none;
}
 
.alertBox.error, table.bordered tr th#ajax_msg.error {
    color: #AA1221;
    background: url('../images/css/error_alert_bckgrnd.png') no-repeat 6px 5px #F9E5E6;
    border: 2px solid #F3878C;
}

.alertBox.success, table.bordered tr th#ajax_msg.success {
    color: #967B35;
    background: url("../images/css/success_alert_bckgrnd.png") no-repeat 6px 5px #E6F0C2;
    border: 2px solid #B1CE49;
}

.alertBox.info, table.bordered tr th#ajax_msg.info {
    color: #2E81A8;
    background: url("../images/css/info_alert_bckgrnd.png") no-repeat 6px 5px #D8ECF5;
    border: 2px solid #66C1EC;
}

.alertBox.notice, table.bordered tr th#ajax_msg.notice {
    color: #C46600;
    background: url("../images/css/notice_alert_bckgrnd.png") no-repeat 6px 5px #F7F0CB;
    border: 2px solid #EBC846;
}

table.bordered tr th#ajax_msg.error, table.bordered tr th#ajax_msg.success,
table.bordered tr th#ajax_msg.info, table.bordered tr th#ajax_msg.notice {
    background-image: none;
}

#log table {
    margin-top: 15px;
}

#thead {
    text-align: center;
    color: #111;
}

#thead th {
    padding: 2px 7px;
}

#photo_list {
    margin-bottom: 10px;
}

.word_break {
    word-break: break-all;
}

.nl2br {
    white-space: pre-wrap;
}

#album_list #albums_nav_wrapper {
    max-width: 1050px;
}

#album_list #nav {
    top: 34%;
    left: 93%;
}

#album_list #ux_nav_guide, #photo_list #ux_nav_guide {
    color: #555;
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 6px 0;
    max-width: 1037px;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    position: absolute;
    right: -8%
}

#album_list #ux_nav_guide {
    right: 259px;
    top: 0px;
}

#album_list #ux_nav_guide.adjusted_for_notes {
    right: 22px;
}

#album_list #albums_nav_wrapper.adjusted_for_notes {
    max-width: 1295px;
}

div#no_albums_alert, div#no_photos_alert, p#no_albums_alert, p#no_photos_alert {
    color: #777777;
    font-size: 17px;
    font-weight: bold;
}

#album_list #albums_wrapper {
    min-height: 488px;
    overflow: hidden;
}

#album_list #albums_wrapper .albums_by {
    padding: 0 0 8px;
}

#album_list #albums_wrapper .albums_by .processing_msg {
    height: 25px;
    left: 22%;
    position: absolute;
    margin-top: 7px;
    width: 170px;
    z-index: 0;
    color: #222;
    font-size: 16px;
    font-weight: bold;
}

#album_list #albums_wrapper .albums_by .o_name {
     background-color: #8F8F8F;
     color: #222;
     opacity: .8;
     filter: alpha(opacity=80);
     text-align: center;
     cursor: pointer;
     font-weight: bold;
     font-size: 16px;
     padding: 7px;
     transition: opacity .3s;
     border-radius: 2px;
     height: 15px;
}

#album_list #albums_wrapper .albums_by .albums {
     max-height: 400px;
     display: none;
     overflow: auto;
     padding: 0 15px;
}

#album_list #albums_wrapper .albums_by .albums div.sect_head {
     font-weight: bold;
     color: #222;
     padding: 12px 3px;
     width: 100%;
}

#album_list #albums_wrapper .albums_by .albums div.sect_head .section_ui_msg_wrapper {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    margin-left: 150px;
    top: -16px;
    width: 625px;
}

#album_list #albums_wrapper .albums_by .albums div.sect_head .del_albums_parent {
     float: right;
}

#album_list #albums_wrapper .album {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    margin: 0 20px 20px 0;
}

#album_list #albums_wrapper .album div.absolute_pos.date_owner {
    width: 216px;
    border-radius: 4px;
}

#album_list #albums_wrapper .album div.absolute_pos.name_edit_save {
    padding: 0;
    top: 0;
    width: 226px;
    border-radius: 4px;
}

#album_list #albums_wrapper div.name_edit_save span.name {
    width: 160px;
    font-size: 18px;
    padding: 12px 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

#album_list #albums_wrapper div.name_edit_save a.edit {
    width: 41px;
    height: 39px;
    float: right;
    background: url("../images/css/edit.png") no-repeat scroll 3px -3px rgba(19, 17, 17, 0.4);
    transition: .3s;
    border-radius: 4px;
}

#album_list #albums_wrapper div.name_edit_save a.edit:hover {
    background-color: rgba(19, 17, 17, 0.9);
}

#album_list #albums_wrapper .album img {
    width: 226px;
    height: 226px;
    border-radius: 4px;
}

#album_list #albums_wrapper .album div.a_notes_wrapper {
    background-color: #FFFFFF;
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    height: 224px;
    margin-left: 8px;
    width: 231px;
    border-top: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    border-bottom: 1px solid #AAAAAA;
    border-radius: 4px;
    background-color: transparent;
}

#album_list #albums_wrapper .album div.a_notes_wrapper.ajax_called {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-left: 0;
    width: 224px;
    background-color: rgba(255,255,255,.8);
    border-left: 1px solid #AAAAAA;
    display: none;
}

#album_list #albums_wrapper .album_by_owner {
    display: block;
    margin-bottom: 6px;
    width: 170px;
}

#photo_list #photos_nav_wrapper {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
}

#photos_wrapper #ajax_loading_pholder {
    width: 99%;
    height: 78%;
    position: absolute;
    top: 28px;
    left: 0;
    text-align: center;
    padding: 30px 0 0;
    z-index: -100;
    color: #777777;
    font-weight: bold;
    font-size: 50px;
    line-height: 75px;
}

#ajax_loading_pholder #pholder_msg {
    text-align:left;
    padding: 0 50%;
    font-size: 16px;
    color: #484848;
}

#photo_list table td.fname {
    color: #222;
    font-weight: bolder;
    font-family: monospace;
    font-size: 15px;
    min-width: 130px;
    max-width: 130px;
}

#photo_list table textarea.fcapt, #album_list form textarea.anotes {
    min-height: 62px;
    max-height: 62px;
    min-width: 210px;
    max-width: 210px;
    background-color: rgba(255, 255, 255, 0.62);
    color: #333;
    font-weight: bold;
}

#album_list form textarea.anotes {
    background-color: rgba(255, 255, 255, 0.4);
}

#album_list form textarea.anotes {
    min-width: 222px;
    max-width: 222px;
    min-height: 182px;
    max-height: 182px;
}

#album_list form textarea.anotes.ajax_called {
    min-width: 213px;
    max-width: 213px;
}

#album_list form {
    display: inline-block;
    *display: inline; /*for IE7*/
    *zoom: 1; /*for IE7*/
    height: 215px;
    padding: 2px;
}

#album_list form.a_name_edit {
    position: relative;
    height: 39px;
    width: 220px;
    padding: 0;
    text-align: left;
}

#album_list form.a_name_edit input[type=text] {
    height: 16px;
    min-width:165px;
}

#album_list form.a_name_edit div.cancel_counter {
    width: 165px;
    padding-left: 4px;
}

#album_list form.a_name_edit div.cancel_counter a {
    font-size: 10px;
    color: #eee;
}

#album_list form.a_name_edit div.cancel_counter span.char_counter {
    font-size: 11px;
    color: #eee;
    margin-left: 57px;
}

#album_list form.a_name_edit input.save_a_name_edit {
    width: 41px;
    height: 39px;
    background: url("../images/css/save.png") no-repeat scroll 2px 1px rgba(19, 17, 17, 0.4);
    transition: .3s;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: none;
}

#album_list form.a_name_edit input.save_a_name_edit:hover {
    background-color: rgba(19, 17, 17, 0.9);
}

#photo_list table div.capt_edit, #album_list form div.notes_edit {
    margin-top: 6px;
    margin-left: 2px;
    color: #484848;
    font-weight: bold;
}

#album_list form textarea.anotes, #album_list form div.notes_edit {
    float: left;
}

#photo_list table div.capt_edit input, #album_list form div.notes_edit input {
    color: #484848;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    padding: 0;
}

table tr td {
    color: #333;
    font-weight: bold;
    padding: 5px;
}

#photo_list table td#current_cover {
    color: #111;
}

#photo_list table td.p_comments {
    padding: 0;
    color: #000;
    position: relative;
}

#photo_list table td.p_comments div.comments_wrapper {
    font-size: 11px;
    max-height: 280px;
    overflow-y: auto;
    padding: 0 10px;
    background-color: #F5F5F5;
    opacity: .7;
    filter: alpha(opacity=70);
}

#photo_list table td.p_comments div.comments_wrapper .comments {
    margin-bottom: 5px;
}

#photo_list table .comments .comment .absolute_pos.delete,
#photo_list table div.capt_edit .absolute_pos.delete,
#album_list form div.notes_edit .absolute_pos.delete {
    font-size: 12px;
    left: 97%;
    padding: 2px;
    top: 2px;
    width: 16px;
    z-index: 1000;
}

#photo_list table div.capt_edit .absolute_pos.delete {
    left: 89%;
    top: 0;
}

#album_list form div.notes_edit .absolute_pos.delete {
    left: 204px;
    top: 0;
}

#album_list form div.notes_edit .absolute_pos.delete.ajax_called {
    left: 192px;
}

#photo_list table td.p_comments div.comments_wrapper p {
    margin-top: 3px;
}

#photo_list table td.p_comments div.comments_wrapper p .del_coms_parent {
    float: right;
    width: 160px;
    font-size: 12px;
}

#photo_list table td.p_comments div span {
    font-weight: bold;
    font-size: 12px;
}

#photo_list table td img {
    height: 100px;
    width: 110px;
}

#photo_list table td.no_padding {
    padding: 0;
}

#log #log_amiss {
    width: 400px;
}

#confirm_del_wrapper p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

#confirm_del_wrapper div {
    margin-top: 30px;
}

#confirm_del_wrapper div a {
    text-decoration: none;
    margin-right: 15px;
}

/** Processing ellipsis **/
span.processing_ellipsis {
    font-size: 12px;
}

#main_processing_msg span.processing_ellipsis {
    font-size: 80px;
}

#temp_a_processing_msg span.processing_ellipsis {
    font-size: 30px;
}

#loaded_info #temp_a_processing_msg span.processing_ellipsis {
    font-size: 19px;
}

span#b_dot {
    color: #144FFF;
}

span#r_dot {
    color: #FF0000;
}

span#y_dot {
    color: #EE7B00;
}

span#g_dot {
    color: #1D8911;
}
                            /**** Classes added/manipulated by JS during initial form load and validation ****/
                            
.error_bordered {
    border: 2px solid #AA1221;
}

form ul.radios.error_bordered {
    border: 2px solid #AA1221;
}

.notice_bordered {
    border: 2px solid #C46600;
}

#photo_info .error_bordered {
    border: 1px solid #ff0000;
}

#photo_info .notice_bordered {
    border: 1px solid #BE5B00;
}

span.field_msg {
    border-radius: 3px 3px 3px 3px;
    font-weight: bold;
    margin-left: 12px;
    padding: 4px;
}

span.char_counter {
    color: #666;
    font-size: 16px;
    font-style: italic;
}

#photo_list span.char_counter, #album_list span.char_counter {
    font-size: 14px;
    margin-left: 12px;
}

#album_list span.char_counter {
    font-weight: bold;
}

span.error_msg {
    background-color: #F9E5E6;
    color: #AA1221;
}

#photo_info span.error_msg {
    background-color: #F9CBA9;
    color: #ff0000;
}

span.success_msg {
    background-color: #E4EDBD;
    color: #95A812;
}

span.notice_msg {
    background-color: #F7F0CB;
    color: #C46600;
}

#photo_info span.notice_msg {
    background-color: #F7EFB5;
    color: #B04900;
}

span#photo.field_msg {
    position: absolute;
    top: 6px;
    left: 175px;
}

span#password_placeholder.field_msg {
    position: absolute;
    top: 0;
    left: 183px;
}

span#comment.field_msg {
    position: absolute;
    top: 83%;
}

span#cover_radios.field_msg, span#perms_radios.field_msg {
    position: absolute;
    top: 8px;
    left: 285px;
    margin-left: 0;
}

span#perms_radios.field_msg {
    left: 430px;
}

span#comment.field_msg.char_counter {
    left: 1px; /*temp changed from 77%*/
    width: 89%;
    text-align: right;
}

span#comment.field_msg.notice_msg, span#comment.field_msg.error_msg {
    left: -1px;
}

                                /**** Style applied in full screen mode ****/

body:-webkit-full-screen {
    overflow: auto;
}

body:-webkit-full-screen .centering #big_error_report #msg {
    line-height: 122px;
}

body:-webkit-full-screen .centering #big_error_report #exit {
    margin: 2% auto 0;
}

body:-webkit-full-screen #main .centering #outer_wrapper {
    padding-top: 20px;
}

body:-webkit-full-screen #main .centering #outer_wrapper #to_albums_nav {
    top: 73px;
}

body:-webkit-full-screen #main .centering #outer_wrapper #unit_info {
    top: 123px;
    opacity: .7;
    filter: alpha(opacity=70);
}

body:-webkit-full-screen #main .centering #outer_wrapper #unit_info #album_info {
    max-height: 530px;
}

body:-webkit-full-screen #main .centering #inner_wrapper #unit_wrapper .no_content {
    color: #555;
    font-size: 90px;
    line-height: 135px;
}

body:-webkit-full-screen #main .centering #inner_wrapper #unit_wrapper .photo {
    margin-bottom: 30px;
}

/* -moz */

body:-moz-full-screen {
    overflow: auto;
}

body:-moz-full-screen .centering #big_error_report #msg {
    line-height: 122px;
}

body:-moz-full-screen .centering #big_error_report #exit {
    margin: 2% auto 0;
}

body:-moz-full-screen #main .centering #outer_wrapper {
    padding-top: 20px;
}

body:-moz-full-screen #main .centering #outer_wrapper #to_albums_nav {
    top: 72px;
}

body:-moz-full-screen #main .centering #outer_wrapper #unit_info {
    top: 123px;
    opacity: .7;
    filter: alpha(opacity=70);
}

body:-moz-full-screen #main .centering #outer_wrapper #unit_info #album_info {
    max-height: 530px;
}

body:-moz-full-screen #main .centering #inner_wrapper #unit_wrapper .no_content {
    color: #555;
    font-size: 90px;
    line-height: 135px;
}

body:-moz-full-screen #main .centering #inner_wrapper #unit_wrapper .photo {
    margin-bottom: 30px;
}

/* -ms */

body:-ms-full-screen {
    overflow: auto;
}

body:-ms-full-screen .centering #big_error_report #msg {
    line-height: 122px;
}

body:-ms-full-screen .centering #big_error_report #exit {
    margin: 2% auto 0;
}

body:-ms-full-screen #main .centering #outer_wrapper {
    padding-top: 20px;
}

body:-ms-full-screen #main .centering #outer_wrapper #to_albums_nav {
    top: 72px;
}

body:-ms-full-screen #main .centering #outer_wrapper #unit_info {
    top: 123px;
    opacity: .7;
    filter: alpha(opacity=70);
}

body:-ms-full-screen #main .centering #outer_wrapper #unit_info #album_info {
    max-height: 530px;
}

body:-ms-full-screen #main .centering #inner_wrapper #unit_wrapper .no_content {
    color: #555;
    font-size: 90px;
    line-height: 135px;
}

body:-ms-full-screen #main .centering #inner_wrapper #unit_wrapper .photo {
    margin-bottom: 30px;
}

/* -o */

body:-o-full-screen {
    overflow: auto;
}

body:-o-full-screen .centering #big_error_report #msg {
    line-height: 122px;
}

body:-o-full-screen .centering #big_error_report #exit {
    margin: 2% auto 0;
}

body:-o-full-screen #main .centering #outer_wrapper {
    padding-top: 20px;
}

body:-o-full-screen #main .centering #outer_wrapper #to_albums_nav {
    top: 72px;
}

body:-o-full-screen #main .centering #outer_wrapper #unit_info {
    top: 123px;
    opacity: .7;
    filter: alpha(opacity=70);
}

body:-o-full-screen #main .centering #outer_wrapper #unit_info #album_info {
    max-height: 530px;
}

body:-o-full-screen #main .centering #inner_wrapper #unit_wrapper .no_content {
    color: #555;
    font-size: 90px;
    line-height: 135px;
}

body:-o-full-screen #main .centering #inner_wrapper #unit_wrapper .photo {
    margin-bottom: 30px;
}

/* general */

body:full-screen {
    overflow: auto;
}

body:full-screen .centering #big_error_report #msg {
    line-height: 122px;
}

body:full-screen .centering #big_error_report #exit {
    margin: 2% auto 0;
}

body:full-screen #main .centering #outer_wrapper {
    padding-top: 20px;
}

body:full-screen #main .centering #outer_wrapper #to_albums_nav {
    top: 72px;
}

body:full-screen #main .centering #outer_wrapper #unit_info {
    top: 123px;
    opacity: .7;
    filter: alpha(opacity=70);
}

body:full-screen #main .centering #outer_wrapper #unit_info #album_info {
    max-height: 530px;
}

body:full-screen #main .centering #inner_wrapper #unit_wrapper .no_content {
    color: #555;
    font-size: 90px;
    line-height: 135px;
}

body:full-screen #main .centering #inner_wrapper #unit_wrapper .photo {
    margin-bottom: 30px;
}